* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all .5s;
}

html{
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    padding: 0 1rem;
}

a{
    text-decoration: none;
}

ul, li{
    list-style: none;
}

form button{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    font-weight: 600;
    color: #151515;
}

button{
    border: none;
    cursor: pointer;
}

form button:hover{
    box-shadow: 0 0 20px 0 #53d9d1;
}

@media screen and (max-width: 700px) {
    body{
        font-size: 12px;
    }
}

