.product-detail-container {
    width: 100%;
    max-width: 1320px;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
}

.home-link {
    height: 80px;
    display: flex;
    padding: 1rem 0;
    gap: 1rem;
    color: #eee;
}

.home-link a {
    color: #eee;
    font-weight: 600;
}

.home-link a:hover {
    color: #53d9d1;
    font-weight: 600;
}

.product-detail {
    width: 100%;
    height: 400px;
    display: flex;

}

.product-img {
    width: 600px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.product-img img {
    width: 100%;
    height: 80%;
    display: block;
    object-fit: contain;
}

.product-features {
    width: calc(100% - 600px);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #eee;
    position: relative;
}

.product-features p:nth-child(1) {
    font-size: 30px;
}

.product-features p:nth-child(2) {
    text-align: justify;
}

.increment-decrement-div {
    width: 100%;
    display: flex;
    align-items: center;

}

.increment-decrement-div p{
    border: 1px solid lightgray;
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.increment-decrement-div button{
    width: 40px;
    height: 40px;
    color: #151515;
    background-color: lightgrey;
}

.increment-decrement-div button:active{
    background-color: #53d9d1;
    color: #eee;
}

.add-to-cart {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    color: #eee;
    cursor: pointer;
}

.add-to-cart:hover {
    color: #151515;
    background-color: #53d9d1;
}

.product-detail-container h2 {
    height: 100px;
    display: flex;
    align-items: center;
    color: #eee;
}

.similar-products {
    width: 100%;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}